.resume{
  font-size:16x;
  color: #65666E;
  padding: 0 114px;
  margin: 50px 0;
  display: none;
  &.active{
    display: block;
  }
  @media screen and (max-width:1280px) {
    padding: 0 24px;
  }
}