.resume{
  font-size:16x;
  color: #6F7792;
  padding: 0 114px;
  margin: 50px auto 100px;
  display: none;
  max-width: 1440px;
  &.active{
    display: flex;
  }
  .resumeLeft{
    width: 25%;
    padding: 0 24px;
  }
  .resumeRight{
    width: 75%;
    padding: 0 24px 0 48px;
  }
  .resumeInfo{
    text-align: center;
    img{
      width: 140px;
    }
    .resumeName{
      font-size: 28px;
      color: #404451;
      text-align: center;
      line-height: 30px;
      padding: 20px 0;
      span{
        font-size: 18px;
        display: block;
        padding-top: 5px;
      }
    }
    p{
      margin: 0;
      padding: 3px 0;
      font-size: 14px;
    }
  }
  .reTitle{
    font-size:24px;
    color: #404451;
    font-weight: bold;
    padding-left: 60px;
    line-height: 40px;
    height: 80px;
    &.titleSkill{
      background: url(./assets/images/skill.png) no-repeat;
      background-size: 50px 50px;
    }
    &.titleSelf{
      background: url(./assets/images/self.png) no-repeat;
      background-size: 50px 50px;
    }
    &.titleWork{
      background: url(./assets/images/work.png) no-repeat;
      background-size: 50px 50px;
    }
    &.titleProject{
      background: url(./assets/images/project.png) no-repeat;
      background-size: 50px 50px;
    }
    &.titleEdu{
      background: url(./assets/images/edu.png) no-repeat;
      background-size: 50px 50px;
    }
  }
  
  .work{
    padding: 40px 0 30px;
    ul{
      border-left: 1px solid #DFDFED;
      margin-left: 20px;
      padding-left: 45px;
      li{
        margin-bottom: 15px;
        .workTitle{
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          align-items: center;
          color: #404451;
          p{
            font-weight: normal;
            margin: 0 0 0 10px;
            display: inline-block;
            color: #6F7792;
            border: 1px solid #aaafc1;
            padding: 0 8px;
            border-radius: 8px;
            font-size: 12px;
          }
          span{
            &:first-child{
              width: 120px;
              font-size: 12px;
            }
          }
          strong{
            flex-grow: 1;
            font-size: 16px;
          }
        }
        .workText{
          padding: 15px 0;
          text-align: justify;
          line-height: 28px;
          p{
            margin: 0;
            display: flex;
            strong{
              padding-right: 15px;
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
          .workText{
            padding: 15px 0 0;
          }
        }
      }
    }
  }
  .project{
    padding: 60px 0 30px;
    ul{
      border-left: 1px solid #DFDFED;
      margin-left: 20px;
      padding-left: 45px;
      li{
        margin-bottom: 15px;
        .proTitle{
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          align-items: center;
          color: #404451;
          p{
            font-weight: normal;
            margin: 0 0 0 10px;
            display: inline-block;
            color: #6F7792;
          }
          span{
            &:first-child{
              width: 120px;
              font-size: 12px;
            }
          }
          strong{
            flex-grow: 1;
            font-size: 16px;
          }
        }
        .proText{
          padding: 15px 0;
          text-align: justify;
          line-height: 28px;
        }
        &:last-child{
          margin-bottom: 0;
          .proText{
            padding: 15px 0 0;
          }
        }
      }
    }
  }
  .edu{
    padding: 60px 0 30px;
    ul{
      border-left: 1px solid #DFDFED;
      margin-left: 20px;
      padding-left: 45px;
      li{
        margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          align-items: center;
          color: #404451;
          p{
            font-weight: normal;
            margin: 0 0 0 10px;
            display: inline-block;
            color: #6F7792;
          }
          span{
            &:first-child{
              width: 120px;
              font-size: 12px;
            }
          }
          strong{
            flex-grow: 1;
            font-size: 16px;
          }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .mobileInfo{
    display: none;
  }
  .pcInfo{
    display: block;
  }
  @media screen and (max-width:1280px) {
    padding: 0 12px;
    .resumeLeft{
      width: 25%;
      padding: 0 12px;
    }
    .resumeRight{
      width: 75%;
      padding: 0 12px;
    }
  }
  @media screen and (max-width:860px) {
    padding: 0 12px;
    .resumeLeft{
      width: 25%;
      padding: 0 12px;
    }
    .resumeRight{
      width: 75%;
      padding: 0 12px;
    }
  }
  @media screen and (max-width:430px) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 24px;
    &.active{
      display: block;
    }
    .resumeLeft{
      width: 100%;
      padding: 0;
    }
    .resumeRight{
      width: 100%;
      padding: 0;
    }
    .work{
      ul{
        border: 0;
        padding: 0;
        margin: 0;
        li{
          .workTitle{
            display: block;
            span{
              display: block;
            }
            strong{
              line-height: 40px;
              font-size: 18px;
            }
          }
        }
      }
    }
    .project{
      ul{
        border: 0;
        padding: 0;
        margin: 0;
        li{
          .proTitle{
            display: block;
            strong{
              line-height: 32px;
            }
            span{
              display: block;
              &:last-child{
                float: right;
                line-height: 32px;
              }
            }
          }
          .proText{
            clear: both;
          }
        }
      }
    }
    .edu{
      ul{
        border: 0;
        padding: 0;
        margin: 0;
        li{
            display: block;
            span{
              display: block;
              float: left;
              line-height: 30px;
            }
            strong{
              float: right;
              line-height: 32px;
            }
            p{
              display: block;
              margin: 0;
              clear: both;
            }
        }
      }
    }
    .mobileInfo{
      display: block;
    }
    .pcInfo{
      display: none;
    }
  }
}